div.linecomment {
    min-height: 380px;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #37692f;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.walikngdead {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0px -8px 7rem, 0em 0 1em #95c18d;
    padding-top: 20px;
}

a {
    color: #37692f;
}

body {
    background-image: url('../img/zombies-09.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
}

img {
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: .3rem .3rem 1rem rgba(47, 76, 29, 0.75);
}

.btn-primary {
    color: #fff;
    background-color: #37692f;
    border-color: #24461e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #11210f;
    border-color: #24461e;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #24461e;
}

.container {
    opacity: 1;
    -webkit-transition-duration: 0.3s;
    /* Safari */
    transition-duration: 0.3s;
}

.container.ng-enter {
    opacity: 0;
}

.container.ng-leave {
    opacity: 0;
}

.googlemap img {
    border-radius: 0;
    box-shadow: none;
}

#map {
    width: 600px;
}